* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

html {
	font-family: "Josefin Sans", sans-serif;
}

.main {
	.setting {
		height: 44px;
		background-color: #7e33e0;

		.container {
			max-width: 1200px;
			height: 100%;
			margin: auto;
			display: flex;
			align-items: center;
			justify-content: space-between;
			.contact-info {
				display: flex;
				align-items: center;

				.contact {
					color: #fff;
					font-size: 16px;
					margin-right: 50px;
					display: flex;
					align-items: center;

					.text {
						margin-left: 12px;
						line-height: 16px;
					}
				}
			}
			.settings {
				display: flex;
				gap: 20px;

				.drop {
					display: flex;
					align-items: center;
					color: #fff;
					gap: 4px;
				}
			}
		}
	}
	.header {
		height: 78px;
		background-color: #ffffff;
		.container {
			margin: auto;
			max-width: 1200px;
			height: 100%;
			display: flex;
			align-items: center;
			justify-content: space-between;

			.left {
				display: flex;
				align-items: center;
				height: 100%;

				.logo {
					font-size: 34px;
					font-weight: 700;
					margin-right: 84px;
				}

				.menu {
					list-style: none;
					display: flex;
					gap: 32px;

					&-item {
						&-link {
							text-decoration: none;
							color: #0d0e43;
							font-size: 16px;
						}
					}
				}
			}

			.right {
				display: flex;
				align-items: center;

				.search {
					height: 40px;
					border: 2px solid #e7e6ef;
					width: 316px;
					border-right: none;
					outline: none;
					padding: 16px 12px;
				}

				.search-icon {
					background-color: #fb2e86;
					display: flex;
					justify-content: center;
					align-items: center;
					height: 40px;
					width: 50px;
				}
			}
		}
	}
	.banner {
		background-color: #f2f0ff;
		height: 764px;
		position: relative;

		.container {
			display: flex;
			max-width: 1200px;
			height: 100%;
			align-items: center;
			margin: auto;

			.content {
				width: 644px;
				display: flex;
				flex-direction: column;
				gap: 12px;
				z-index: 1;
				.sub {
					color: #fb2e86;
					font-weight: 700;
				}

				.main {
					font-size: 54px;
					font-weight: 700;
				}

				.description {
					color: #8a8fb9;
					font-weight: 700;
					margin-bottom: 12px;
				}
			}
		}

		.lamp {
			position: absolute;
		}

		.chair {
			position: absolute;
			top: 50%;
			translate: 0 -50%;
			right: 2%;
			width: 600px;
			height: 600px;

			img {
				object-fit: cover;
				width: 100%;
				height: 100%;
			}
		}
	}
	.featured-product {
		padding: 120px 0 80px 0;
		.product-item {
			box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.1);
			width: 270px;
			height: 360px;
			cursor: pointer;

			&-image {
				height: 236px;
				width: 100%;
				display: flex;
				align-items: center;
				justify-content: center;
				background-color: #f6f7fb;
			}

			&-content {
				&:hover {
					background-color: #2f1ac4;

					.name,
					.code,
					.price {
						color: #fff;
					}
				}
				padding: 16px 0;
				display: flex;
				flex-direction: column;
				align-items: center;
				gap: 12px;

				.name {
					color: #fb2e86;
					font-size: 18px;
					font-weight: 700;
				}

				.code,
				.price {
					font-size: 14px;
					color: #151875;
				}

				.color {
					display: flex;
					justify-content: center;
					gap: 4px;

					.item-color {
						height: 4px;
						width: 14px;
						border-radius: 10px;
					}
				}
			}
		}
	}
	.latest-product {
		.categories {
			display: flex;
			list-style-type: none;
			justify-content: center;
			margin-top: 20px;
			gap: 58px;
			.item {
				&-link {
					text-decoration: none;
					color: #151875;
					font-size: 18px;
				}
				&:hover {
					text-decoration: underline;
					.item-link {
						color: #fb2e86;
					}
				}
			}
		}
		.product-item {
			width: 360px;
			display: flex;
			flex-direction: column;
			margin-bottom: 120px;

			&-image {
				height: 270px;
				background-color: #f7f7f7;
				display: flex;
				align-items: center;
				justify-content: center;
			}

			&-content {
				display: flex;
				justify-content: space-between;
				padding: 0 4px;
				margin-top: 12px;

				.price {
					display: flex;
					font-size: 14px;
					gap: 8px;
					&-sale {
						color: #151875;
					}

					&-original {
						color: #fb2448;
						text-decoration: line-through;
					}
				}
			}
		}
	}
	.shopex-offer {
		.offer-item {
			box-shadow: 0px 8px 40px rgba(49, 32, 138, 0.05);
			display: flex;
			flex-direction: column;
			align-items: center;
			width: 270px;
			height: 320px;
			justify-content: center;
			gap: 24px;

			&-detail {
				text-align: center;
				line-height: 25.6px;
				color: #1a0b5b;
				opacity: 0.3;
			}

			&-name {
				color: #151875;
				font-size: 22px;
			}
		}
	}
	.trending-banner {
		height: 580px;
		background-color: #f1f0ff;
		margin-top: 136px;

		.container {
			max-width: 1200px;
			margin: auto;
			position: relative;
			display: flex;
			align-items: center;
			justify-content: space-between;
			.chair-img {
				flex: 1;
			}

			.banner-content {
				flex: 1;

				.main-title {
					font-size: 34px;
					color: #151875;
					font-weight: 700;
					margin-bottom: 30px;
				}

				.detail-list {
					list-style-type: none;
					display: flex;
					flex-direction: column;
					gap: 12px;

					.dot {
						width: 8px;
						height: 8px;
						border-radius: 50%;
					}

					&-item {
						display: flex;
						align-items: center;

						.content {
							color: #acabc3;
							font-size: 16px;
							font-family: "Lato", sans-serif;
							margin-left: 12px;
						}
					}
				}

				.add-to-cart {
					margin-top: 36px;
					display: flex;
					gap: 20px;
					align-items: center;

					.content {
						color: #151875;
						display: flex;
						flex-direction: column;
						gap: 10px;
						.price {
							font-weight: 300;
						}
					}
				}
			}
		}
	}
	.trending-product {
		.container {
			max-width: 1200px;
			margin: auto;
			margin-top: 132px;
			.product-item {
				background: linear-gradient(0deg, #ffffff, #ffffff), #ffffff;
				box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.1);
				width: 270px;
				height: 350px;
				display: flex;
				flex-direction: column;
				align-items: center;
				padding: 12px;

				&-image {
					background-color: #f5f6f8;
					height: 244px;
					display: flex;
					align-items: center;
					justify-content: center;
					width: 100%;
				}

				&-content {
					margin-top: 16px;
					display: flex;
					flex-direction: column;
					gap: 10px;

					.name {
						font-size: 16px;
						font-family: "Lato", sans-serif;
						color: #151875;
						font-weight: 700;
					}

					.price {
						display: flex;
						gap: 12px;
						font-size: 14px;

						&-sale {
							color: #151875;
						}

						&-original {
							color: #151875;
							opacity: 0.3;
						}
					}
				}
			}
			.card-container {
				display: flex;
				margin-top: 40px;
				gap: 24px;
				.cards {
					display: flex;
					gap: 32px;

					.card-item {
						width: 420px;
						height: 270px;
						padding: 32px 24px;
						position: relative;

						&-name {
							font-size: 26px;
							color: #151875;
							margin-bottom: 12px;
						}

						&-link {
							color: #fb2e86;
							text-decoration: underline;
							cursor: pointer;
						}

						&-image {
							position: absolute;
							bottom: 0;
							right: 0;
						}
					}
					.pink {
						background-color: #fff6fb;
					}
					.blue {
						background-color: #eeeffb;
					}
				}

				.chair {
					display: flex;
					flex-direction: column;
					justify-content: space-between;
					.chair-item {
						display: flex;
						height: 74px;
						gap: 10px;
						align-items: center;

						.image {
							display: flex;
							align-items: center;
							justify-content: center;
							width: 107px;
							background-color: #f5f6f8;
						}

						.content {
							color: #151875;
							.name {
								font-size: 16px;
								margin-bottom: 4px;
							}
							.price {
								font-size: 12px;
								text-decoration: line-through;
							}
						}
					}
				}
			}
		}
	}
	.discount-item {
		margin-top: 124px;
		.container-detail {
			max-width: 1200px;
			margin: auto;
			display: flex;
			align-items: center;

			.content {
				.name {
					color: #151875;
					font-size: 36px;
					margin-bottom: 16px;
				}
				.product {
					color: #fb2e86;
					font-size: 20px;
					margin-bottom: 20px;
				}
				.description {
					color: #b7bacb;
					font-size: 18px;
					margin-bottom: 20px;
				}
				.details {
					display: flex;
					flex-wrap: wrap;
					list-style-type: none;
					justify-content: space-between;
					margin-bottom: 32px;

					&-item {
						// width: 260px;
						display: flex;
						align-items: center;
						.text {
							color: #b8b8dc;
							// font-size: 12px;
							margin-left: 4px;
						}
					}
				}
			}
		}
		.categories {
			display: flex;
			list-style-type: none;
			justify-content: center;
			margin-top: 20px;
			gap: 58px;
			.item {
				&-link {
					text-decoration: none;
					color: #151875;
					font-size: 18px;
				}
				&:hover {
					text-decoration: underline;
					.item-link {
						color: #fb2e86;
					}
				}
			}
		}
	}
	.top-categories {
		.container {
			max-width: 1200px;
			margin: auto;
			.product-item {
				color: #151875;
				display: flex;
				flex-direction: column;
				align-items: center;
				&-image {
					width: 280px;
					display: flex;
					justify-content: center;
					align-items: center;
					height: 280px;
					border-radius: 50%;
					background-color: #f6f7fb;
					box-shadow: 0px 8px 40px rgba(49, 32, 138, 0.05);
				}

				&-name {
					margin-top: 24px;
					font-size: 20px;
					margin-bottom: 12px;
				}

				&-price {
					font-size: 16px;
				}
			}
		}
	}
	.update-banner {
		margin-top: 140px;
		position: relative;
		display: flex;
		flex-direction: column;
		align-items: center;
		img {
			position: absolute;
			z-index: -1;
		}
		.main-title {
			color: #151875;
			font-size: 36px;
			text-align: center;
			width: 600px;
			line-height: 54px;
			font-weight: 700;
			margin-top: 174px;
			margin-bottom: 28px;
		}

		.company {
			display: flex;
			justify-content: center;
			margin-top: 200px;
			margin-bottom: 100px;
		}
	}
	.latest-blog {
		.container {
			margin: auto;
			max-width: 1200px;

			.product-item {
				display: flex;
				flex-direction: column;
				align-items: center;
				width: 370px;
				color: #151875;
				box-shadow: 0px 8px 40px rgba(49, 32, 138, 0.05);
				border-radius: 5px;

				&-image img {
					border-radius: 5px;
				}

				.content {
					padding: 20px;
					color: #151875;
					.sub-content {
						display: flex;
						margin-bottom: 30px;
						font-size: 16px;
						.ps {
							margin-right: 40px;
						}
					}
					.name {
						font-size: 18px;
						font-weight: 700;
						margin-bottom: 20px;
					}
					.detail {
						color: #72718f;
						font-size: 16px;
						margin-bottom: 12px;
					}
					.readmore {
						font-size: 16px;
						text-decoration: underline;
					}
				}
			}
		}
	}
	.footer {
		background-color: #eeeffb;
		padding: 96px;
		margin-top: 116px;
		.container {
			max-width: 1200px;
			margin: auto;
			display: flex;
			gap: 90px;
			.first-col {
				color: #8a8fb9;
				.logo {
					color: #000;
					font-size: 38px;
					font-weight: 700;
					margin-bottom: 32px;
				}
				.email {
					margin-bottom: 24px;
					.email-input {
						border: none;
						outline: none;
						border-radius: 2px;
						height: 44px;
						background-color: #fff;
						padding: 12px 20px;
						width: 240px;
					}
					.btn-sign {
						border-radius: 2px;
						margin-left: -4px;
						background-color: #fb2e86;
						height: 44px;
						width: 132px;
						border: none;
						font-size: 16px;
						color: #fff;
					}
				}
				.contact-info {
					margin-bottom: 10px;
				}
			}

			.footer-col {
				color: #8a8fb9;

				.main-title {
					font-size: 22px;
					color: #000;
					margin-bottom: 40px;
				}

				.menu {
					list-style-type: none;
					display: flex;
					flex-direction: column;
					gap: 20px;
					&-item {
						cursor: pointer;
					}
				}
			}
		}
	}
	.copyright {
		background: #e7e4f8;
		height: 54px;
		.container {
			max-width: 1200px;
			height: 100%;
			margin: auto;
			display: flex;
			align-items: center;
			justify-content: space-between;

			.text {
				color: #9da0ae;
				font-size: 16px;
			}

			.social {
				display: flex;
				gap: 8px;
			}
		}
	}
}

.product-container {
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-wrap: wrap;
	max-width: 1200px;
	margin: auto;
	margin-top: 50px;
}

.header-title {
	color: #151875;
	text-align: center;
	font-size: 42px;
	font-weight: 700;
}
.green {
	background-color: #05e6b7;
}
.red {
	background-color: #f701a8;
}
.black {
	background-color: #00009d;
}
.button-shop {
	.button {
		cursor: pointer;
		background-color: #fb2e86;
		border: none;
		font-size: 16px;
		color: #fff;
		width: 160px;
		height: 50px;
	}
}
